<div class='post-details'>
  <div class='post user-post'>
    <div class='post-header'>
      <p class='title'><%= @post.Title %> by <%= @post.user.Name%></p>
      <p class='post-statics'>Comments: <span><%= @post.comments.count %></span>, Likes: <span><%= @post.likes.count %></span></p>
    </div>
    <div class='post-content'>
      <%= @post.Text %>
       <%= form_with model: Like, url: post_likes_path(@post.user, @post), method: :post do |form| %>
        <% form.submit "Like", class:"like-btn" %>
      <% end %>

      <% if can? :destroy, @post %>
       <%= button_to "Delete Post", user_post_path(@post.user, @post), method: :delete, class: "btn btn-outline-danger btn-lg btn-block" %>
     <% end %>

    </div>
  </div>

  <div class='comments_container user-post'>
    <% if @post.comments.length > 0 %>
      <% @post.comments.each do |comment| %>
        <p class='comment'><%= comment.user.Name %> : <%= comment.Text %></p>
      <% end %>
    <% else %>
      <p class='comment'>There are no comments <em>yet!!</em></p>
    <% end %>
  </div>
    <div class='new-comment-container'>
    <h3>Add a comment</h3>
    <%= render partial: 'portials/new'%>
  </div>
</div>
